@import "../../../styles/settings.scss";
@import "../../../styles/animations.scss";

.container {
    max-width: $container-width;
    margin: $margin-top-buttom-section auto;
    opacity: 0;
    
    &.visible {
        animation: fadeIn 1s ease-in-out forwards;
        .techs {
            animation: slideRightComponentLoad 1s ease-in-out forwards;
        }
        
        .skills {
            animation: slideLeftComponentLoad 1s ease-in-out forwards;
        }
    }
}

.title {
    text-align: center;
    font-family: $font-anton;
    color: $skillTechList-title-color;
    font-size: 35px;
}

.flexBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.techs, .skills {
    border: $border-width solid;
    width: 250px;
    text-align: center;
    color: $skillTechList-text-color;
    font-weight: $bold-font-weight;
    position: relative;
    transition: 2s all;

    svg {
      margin-right: 15px;
      color: $skillTechList-icon-color;
    }

    h2 {
        border-bottom: $border-width solid;
        border-image: linear-gradient(to left, rgba(84,84,84,1), rgba(103,248,144,0.3)) 1;
        margin: 0;
        padding: 15px 0;
    }

    p {
        margin: 20px 0;
    }

    &::before {
        position: absolute;
        content: '';
        z-index: 1;
        top: 0;
        left: 0;
        width: $before-after-triangle-size;
        height: $before-after-triangle-size;
        clip-path: polygon(100% 0, 0% 100%, 0 0);
        background: linear-gradient(135deg, rgba(103,248,144,1) 0%, rgba(84,84,84,1) 50%);
    }

    &::after {
        position: absolute;
        content: '';
        z-index: 1;
        top: 100%;
        right: -0.5px;
        transform: translateY(-100%);
        width: $before-after-triangle-size;
        height: $before-after-triangle-size;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background: linear-gradient(135deg, rgba(84,84,84,1) 50%, rgba(103,248,144,1) 100%);
    }
}

.skills {
    border-image: linear-gradient(to left, rgba(84,84,84,1), rgba(103,248,144,0.7)) 1;
    box-shadow: 15px 1px 25px 0px rgba(103,248,144,0.5);

    &:hover {
        box-shadow: -15px 1px 25px 0px rgba(103,248,144,0.5);
        transform: skew(5deg, 5deg);
    }
}

.techs {
    border-image: linear-gradient(to right, rgba(84,84,84,1), rgba(103,248,144,0.7)) 1;
    box-shadow: -15px 1px 25px 0px rgba(103,248,144,0.5);
    &:hover {
        box-shadow: 15px 1px 25px 0px rgba(103,248,144,0.5);
        transform: skew(-5deg, -5deg);
    }
}

.subtitle {
    position: relative;
    z-index: 100;
    text-shadow: 
        2px 2px 0 $skillTechList-subtitle-shadow-color,
        -1px -1px 0 $skillTechList-subtitle-shadow-color,  
        1px -1px 0 $skillTechList-subtitle-shadow-color,
        -1px 1px 0 $skillTechList-subtitle-shadow-color,
        1px 1px 0 $skillTechList-subtitle-shadow-color;

}

@media (max-width: 570px) {
    .techs {
        &:hover {
            box-shadow: -15px 1px 25px 0px rgba(103,248,144,0.5);
            transform: none;
        }
    }

    .skills {
        &:hover {
            box-shadow: 15px 1px 25px 0px rgba(103,248,144,0.5);
            transform: none;
        }
    }
}

@media (max-width: 525px) {
    .techs, .skills {
        flex: 100%;
        margin: 25px 12px;
    }
}
