@import "../../../styles/settings.scss";

.container {
    max-width: $container-width;
    margin: 120px auto;
}

.title {
    text-align: center;
    font-family: $font-anton;
    color: $skillTechList-title-color;
}

.flexBox {
    display: flex;
    justify-content: space-around;
}

.techs, .skills {
    border: $border-width solid $skillTechList-border-color;
    border-radius: $border-radius;
    width: 250px;
    text-align: center;
    color: $skillTechList-text-color;
    font-weight: 700;
    position: relative;

    h2 {
        border-bottom: $border-width solid $skillTechList-border-color;
        margin: 0;
        padding: 15px 0;
    }

    &::before {
        position: absolute;
        content: '';
        z-index: -1;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 15vh solid $skillTechList-triangle-color;
        border-right: 15vh solid transparent;
    }

    &::after {
        position: absolute;
        content: '';
        z-index: -1;
        top: 100%;
        left: 100%;
        transform: translate(-100%, -100%);
        width: 0;
        height: 0;
        border-bottom: 15vh solid $triangle-color;
        border-left: 15vh solid transparent;
    }
}