@import "../../../styles/settings.scss";

.container {
  max-width: $container-width;
  margin: $margin-top-buttom-section auto;
  text-align: center;
}

.aboutMe {
  border: $border-width solid $border-color;
  border-radius: $border-radius;
}

.title {
  font-size: $section-title-font-size;
  color: $title-color;
  font-family: $secition-title-font-family;
}

.content {
  font-size: 25px;
  color: $text-color;
  padding: 0 15px;
  text-align: center;
  word-spacing: 5px;
}
