@import "../../../styles/settings.scss";

.container {
  max-width: $container-width;
  margin: auto;
  text-align: center;
}

.aboutMe {
  margin-top: 150px;
  border: 5px solid $border-color;
  border-radius: 15px;
}

.title {
  font-size: $section-title-font-size;
  color: $text-color;
  font-family: $secition-title-font-family;
}
