@import "../../../styles/global.scss";
@import "../../../styles/animations.scss";

.container {
  margin: auto;
  text-align: center;
  position: relative;
  height: 80vh;
  overflow-x: hidden;
}

.title {
  font-family: $font-anton;
  font-size: 45px;
  margin-top: 20vh;
  animation: slideInRight $animation-time;
  color: $title-color;
}

.subtitle {
  animation: slideInLeft $animation-time;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: $subtitle-color;
}

.icon {
  color: $icon-color;
  font-size: 9rem;
  margin: 35px 0;
  padding: 18px;
  border: 2px solid $icon-border-color;
  border-radius: 50px;
  animation: fadeInResize $animation-time;
}

@media (max-width: 470px) {
  .title {
    margin-top: 1vh;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 35px;
  }

  .subtitle {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 30px;
  }
}
