@import '../../../styles/settings.scss';
@import "../../../styles/animations.scss";

.container {
  max-width: $container-width;
  margin: auto;
}

.flex-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}
