@import '../../../styles/settings.scss';
@import "../../../styles/animations.scss";

.container {
  max-width: $container-width;
  margin: auto;
  justify-content: space-around;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}

.navBar {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 20px;

    a {
      text-decoration: none;
      color: $topbar-nav-text-color;
      font-weight: $bold-font-weight;

      &:hover {
        color: $topbar-nav-link-hover-color;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.languageSelector {
  position: relative;

  &:hover {
    .languageList {
      display: block;
      animation: fadeIn $animationTime;
    }
  }
}

.languageList {
  position: absolute;
  display: none;
  padding: 0;
  text-align: center;
  width: 100%;

  li {
    display: block;
    margin: 0;
  }

  .languageLink {
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px 0;
    transition: $transition;

    &:hover {
      background-color: $topbar-languageList-languageLink-hover-bg-color;
      color: $topbar-languageList-languageLink-hover-color;
    }
  }
}

.green {
  color: $span-green-color;
}

.homeLink {
  font-size: 24px;
}

.barIcon {
  font-size: 25px;
}

@media(max-width: 470px) {
  .navContact {
    flex: 100%;
    text-align: center;
    margin: 25px 0;
  }
  .navBar {
    flex: 100%;
    text-align: center;
    transform-origin: top;
    transform: scaleY(0);
    transition: $transition-short;
    max-height: 0;

    li {
      display: block;
      margin-bottom: 25px;
      margin-right: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.active {
      transform: scaleY(1);
      max-height: 350px;
    }
  }

  .flex-box {
    flex-direction: column-reverse;

    nav {
      text-align: center;
    }
  }

  .languageList {
    li {
      margin-bottom: 0;
    }
    .languageLink {
      padding: 9px 0;
    }
  }
}

