@import '../../../styles/settings.scss';
@import "../../../styles/animations.scss";

.container {
  max-width: $container-width;
  margin: auto;
  justify-content: space-around;
}

.flex-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 20px;

    a {
      text-decoration: none;
      color: $topbar-nav-text-color;
      font-weight: 700;

      &:hover {
        color: $topbar-nav-link-hover-color;
      }
    }
  }
}
