@import "../../../styles/settings.scss";

.container {
  max-width: $container-width;
  margin: $margin-top-buttom-section auto;
}

.myProjects {
  text-align: center;

  p {
    color: $myProjects-text-color;
    font-weight: $bold-font-weight;
    margin-top: 45px;
  }
}

.title {
  font-size: $section-title-font-size;
  font-family: $secition-title-font-family;
  color: $myProjects-title-color;
}

.flexBox {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.pageNumber {
  display: inline-block;
  margin: 0 15px 0 0;
  font-size: 18px;
  user-select: none;
  transition: $transition;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    color: $myProjects-pageNumber-active-color;
  }

  &:hover {
    cursor: pointer;
    color: $myProjects-pageNumber-hover-color;
  }
}

.changeIconLeft {
  font-size: 21px;
  margin-right: 15px;
  vertical-align: middle;
}

.changeIconRight {
  font-size: 21px;
  vertical-align: middle;
}
