@import "../../../styles/settings.scss";
@import "../../../styles/animations.scss";

.container {
  max-width: $container-width;
  margin: $margin-top-buttom-section auto;
  opacity: 0;

  &.visible {
    animation: fadeIn 2s ease-in-out forwards;

    .projects {
      div {
        position: relative;

        &:first-child {
          animation: slideLeftComponentLoad 1s ease-in-out;
        }
        
        &:last-child {
          animation: slideRightComponentLoad 1s ease-in-out;
        }
      }
    }
  }
}

.myProjects {
  text-align: center;

  p {
    color: $myProjects-text-color;
    font-weight: $bold-font-weight;
    margin-top: 45px;
  }
}

.title {
  font-size: $section-title-font-size;
  font-family: $secition-title-font-family;
  color: $myProjects-title-color;
}

.flexBox {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.pageNumberContainer {
  display: inline-block;
  margin: 25px 7px 0 7px; 

  .pageNumber {
    display: inline-block;
    margin: 0 10px 0 10px;
    font-size: 18px;
    user-select: none;
    transition: $transition;
  
    &.active {
      color: $myProjects-pageNumber-active-color;
    }
  
    &:hover {
      cursor: pointer;
      color: $myProjects-pageNumber-hover-color;
    }
  }
}

.changeIconLeft, .changeIconRight {
  font-size: 21px;
  vertical-align: middle;
}

@media (max-width: 525px) {
  .description {
    margin-left: 12px;
    margin-right: 12px;
  }
}
