@import "../../../styles/settings.scss";

.container {
  max-width: $container-width;
  margin: $margin-top-buttom-section auto;
}

.myProjects {
  text-align: center;

  p {
    color: $myProjects-text-color;
    font-weight: $bold-font-weight;
    margin-top: 45px;
  }
}

.title {
  font-size: $section-title-font-size;
  font-family: $secition-title-font-family;
  color: $myProjects-title-color;
}

.flexBox {
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
