@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway&display=swap");

$font-anton: 'Anton', sans-serif; //use for titles
$font-raleway: 'Raleway', sans-serif;

// SETTINGS
$container-width: 1078px;
$border-radius: 10px;
$border-width: 3px;
$animation-time: 2s;
$margin-top-buttom-section: 200px;
$bold-font-weight: 700;
$transition: 1s all;
$transition-short: 0.3s all;
$animationTime: 0.5s;
$before-after-triangle-size: 100px;

// PROJECT SETTINGS
$rotateIcon-font-size: 64px;
$description-max-height: 800px;
$image-width: 7rem;
$image-height: 7rem;
$before-border-size: 2px;

// SECTION TITLE
$section-title-font-size: 35px;
$secition-title-font-family: $font-anton;

// OPTION - INPUT SETTINGS
$input-width: 500px;
$input-font-family: $font-raleway;

// OPTION - TEXTAREA
$textarea-width: 850px;
$textarea-height: 30vh;
$textarea-font-family: $font-raleway;

// SEND MSG
$sendMsg-animation-time: 2s;
$sendMsg-animation-long-time: 3s;
$sendMsg-short-delay: 0.3s;
$sendMsg-long-delay: 0.6s;

// COLORS
$mintyGreen: #67f890;
$white: #ffffff;
$darkGrey: #545454;
$lightGrey: #d3d3d3;
$chiGong: #d63031;

// BODY
$bg-color: $darkGrey;

// GLOBAL
$scrollbar-color: $mintyGreen;

// HEADER
$triangle-color: $mintyGreen;

// SPLASH
$icon-color: $mintyGreen;
$icon-border-color: $mintyGreen;
$title-color: $mintyGreen;
$subtitle-color: $white;

// BUTTON
$button-border-color: $mintyGreen;
$button-content-color: $mintyGreen;

$button-content-hover-color: $white;
$button-bg-hover-color: $mintyGreen;

$button-border-color-deactivate: $lightGrey;
$button-content-color-deactivate: $lightGrey;

$button-text-shadow-color: $darkGrey;
$button-svg-drop-shadow: $darkGrey;

// ABOUT ME
$border-color: $mintyGreen;
$title-color: $mintyGreen;
$text-color: $white;
$aboutMe-bg-color: $darkGrey;

// TOPBAR
$topbar-nav-text-color: $white;
$topbar-nav-link-hover-color: $mintyGreen;
$span-green-color: $mintyGreen;
$topbar-languageList-languageLink-hover-bg-color: $mintyGreen;
$topbar-languageList-languageLink-hover-color: $darkGrey;

// SKILL TECH LIST
$skillTechList-title-color: $mintyGreen;
$skillTechList-border-color: $mintyGreen;
$skillTechList-text-color: $white;
$skillTechList-triangle-color: $mintyGreen;
$skillTechList-icon-color: $mintyGreen;
$skillTechList-subtitle-shadow-color: $darkGrey;
$skillTechList-bg-color: $darkGrey;

// MY PROJECTS
$myProjects-title-color: $mintyGreen;
$myProjects-text-color: $white;
$myProjects-pageNumber-active-color: $mintyGreen;
$myProjects-pageNumber-hover-color: $mintyGreen;

// PROJECT
$project-title-color: $white;
$project-border-color: $mintyGreen;
$project-image-bg-color: $darkGrey;
$project-rotate-icon-color: $white;
$project-rotate-icon-hover-color: $mintyGreen;
$project-image-before-border-color: $mintyGreen;
$project-image-before-border-side-color: $lightGrey;
$project-image-border-color: $mintyGreen;
$project-subtitle-shadow-color: $darkGrey;
$project-bg-color: $darkGrey;

// OPTION
  // SELECT
  $select-border-color: $mintyGreen;
  $select-text-color: $mintyGreen;

  // INPUT
  $input-title-color: $white;
  $input-bg-color: $darkGrey;
  $input-border-color: $mintyGreen;
  $input-text-color: $mintyGreen;
  $input-border-error-color: $chiGong;

  // TEXTAREA
  $textarea-title-color: $white;
  $textarea-bg-color: $darkGrey;
  $textarea-border-color: $mintyGreen;
  $textarea-text-color: $mintyGreen;
  $textarea-border-error-color: $chiGong;

// SCROLL BUTTON
$scrollButton-bg-color: $darkGrey;

// FOOTER
$footer-title-color: $white;
$footer-border-color: $mintyGreen;

// LOAD
$load-border-top-color: $mintyGreen;
$load-border-color: $white;

// ERROR MSG
$errorMsg-text-color: $white;
$errorMsg-title-text-color: $mintyGreen;

// MODAL
$modal-bg-color: $darkGrey;
$modal-border-color-success: $mintyGreen;
$modal-text-color-success: $mintyGreen;

$modal-border-color-error: $chiGong;
$modal-text-color-error: $chiGong;

// SEND MSG
$sendMsg-color: $mintyGreen;
$sendMsg-dots-bg-color: $mintyGreen;