@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway&display=swap");

$font-anton: 'Anton', sans-serif;
$font-raleway: 'Raleway', sans-serif;

// SETTINGS
$container-width: 1078px;
$border-radius: 10px;
$border-width: 3px;
$animation-time: 2s;
$margin-top-buttom-section: 200px;
$bold-font-weight: 700;
$transition: 1s all;
$transition-short: 0.3s all;
$animationTime: 0.5s;
$before-after-triangle-size: 13vh;

// PROJECT SETTINGS
$rotateIcon-font-size: 64px;
$description-max-height: 800px;

// SECTION TITLE
$section-title-font-size: 35px;
$secition-title-font-family: $font-anton;

// COLORS
$mintyGreen: #67f890;
$white: #ffffff;
$darkGrey: #545454;

// BODY
$bg-color: $darkGrey;

// GLOBAL
$scrollbar-color: $mintyGreen;

// HEADER
$triangle-color: $mintyGreen;

// SPLASH
$icon-color: $mintyGreen;
$icon-border-color: $mintyGreen;
$title-color: $mintyGreen;
$subtitle-color: $white;

// BUTTON
$button-border-color: $mintyGreen;
$button-content-color: $mintyGreen;

$button-content-hover-color: $white;
$button-bg-hover-color: $mintyGreen;

// ABOUT ME
$border-color: $mintyGreen;
$title-color: $mintyGreen;
$text-color: $white;

// TOPBAR
$topbar-nav-text-color: $white;
$topbar-nav-link-hover-color: $mintyGreen;

// SKILL TECH LIST
$skillTechList-title-color: $mintyGreen;
$skillTechList-border-color: $mintyGreen;
$skillTechList-text-color: $white;
$skillTechList-triangle-color: $mintyGreen;
$skillTechList-icon-color: $mintyGreen;

// MY PROJECTS
$myProjects-title-color: $mintyGreen;
$myProjects-text-color: $white;
$myProjects-pageNumber-active-color: $mintyGreen;
$myProjects-pageNumber-hover-color: $mintyGreen;

// PROJECT
$project-title-color: $white;
$project-border-color: $mintyGreen;
$project-image-bg-color: $white;
$project-rotate-icon-color: $white;
$project-rotate-icon-hover-color: $mintyGreen;
