@import "../../../styles/settings.scss";
@import "../../../styles/animations.scss";

@mixin modalBoxShadowColor($color: false) {
  @if $color {
    box-shadow: inset 0 0 0.5rem $color, 0 0 0.5rem $color, 5px 5px 11px 6px rgba(0,0,0,0.63);
  } @else {
    box-shadow: 5px 5px 11px 6px rgba(0,0,0,0.63);
  }
}

.container {
  position: relative;
}

.message {
  position: fixed;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: $modal-bg-color;
  padding: 15px;
  user-select: none;
  font-family: $font-anton;
  display: flex;
  align-items: center;
  @include modalBoxShadowColor();
  animation: fadeIn 1s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
  }

  .icon {
    font-size: 55px;
    margin-right: 25px;
  }

  &.success {
    border: $border-width solid $modal-border-color-success;
    border-radius: $border-radius;
    @include modalBoxShadowColor($modal-border-color-success);
    color: $modal-text-color-success;
  }

  &.error {
    border: $border-width solid $modal-border-color-error;
    border-radius: $border-radius;
    @include modalBoxShadowColor($modal-border-color-error);
    color: $modal-text-color-error;
  }

  &.disable {
    animation: modalFadeOut 1s;
    animation-fill-mode: forwards;

    &::before {
      content: none;
    }
  }
}