@import "../../../styles/settings.scss";

.container {
  position: relative;
}

.message {
  position: absolute;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: $modal-bg-color;

  .success {
    border: $border-width solid $modal-border-color-success;
    border-radius: $border-radius;
  }
}