@import "../../../styles/settings.scss";

.select {
  select {
    padding: 10px 15px;
    background-color: #545454;
    border: $border-width solid $select-border-color;
    border-radius: $border-radius;
    text-transform: uppercase;
    color: $select-text-color;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.input {
  .title {
    margin-bottom: 7px;
    font-weight: $bold-font-weight;
    color: $input-title-color;
  }

  input {
    margin: 0 auto;
    padding: 7px;
    margin-bottom: 8px;
    width: $input-width;
    background-color: $input-bg-color;
    border: $border-width solid $input-border-color;
    outline: none;
    border-radius: $border-radius;
    font-size: 18px;
    color: $input-text-color;
    font-family: $input-font-family;
    transition: $transition;

    &.error {
      border-color: $input-border-error-color;
    }
  }
}

.textarea {
  .title {
    margin-bottom: 7px;
    font-weight: $bold-font-weight;
    color: $textarea-title-color;
  }

  textarea {
    width: $textarea-width;
    height: $textarea-height;
    font-family: $textarea-font-family;
    padding: 5px;
    margin-bottom: 8px;
    background-color: $textarea-bg-color;
    outline: none;
    border: $border-width solid $textarea-border-color;
    border-radius: $border-radius;
    color: $textarea-text-color;
    resize: none;
    transition: $transition;

    &.error {
      border-color: $textarea-border-error-color;
    }
  }

  textarea::-webkit-scrollbar {
    width: 0.4em;
  }
  
  textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  textarea::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
  }
}

@media(max-width: 1456px) {
  .textarea {
    textarea {
      width: 50vw;
    }
  }
}

.input {
  input {
    width: 50vw;
  }
}

@media(max-width: 650px) {
  .textarea {
    textarea {
      width: 93%;
    }
  }

  .input {
    input {
      width: 93%;
    }
  }
}
