@import "../../../styles/settings.scss";
@import "../../../styles//animations.scss";

.container {
  text-align: center;
  color: $sendMsg-color;
  margin: 75px 0;
}

.subtitle {
  display: inline-block;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $sendMsg-dots-bg-color;
  margin-left: 7px;
}

.icon {
  margin: 15px auto;
  font-size: 3rem;
  display: block;
}