@import "../../../styles//settings.scss";
@import "../../../styles/animations.scss";

.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.scrollButton {
    position: fixed;
    top: 90%;
    z-index: 200;
    padding: 7px;
    right: 2%;
    background-color: $scrollButton-bg-color;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;

    &.fadeOut {
        animation: fadeOut $animation-time;
    }

    &.show {
        animation: fadeIn $animation-time;
        animation-fill-mode: forwards;
        pointer-events: auto;
    }
}

.scrollIcon {
    font-size: 25px;
    padding: 0 5px;
}