@import "../../../styles//settings.scss";
@import "../../../styles/animations.scss";

.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.scrollButton {
    position: fixed;
    top: 90%;
    z-index: 200;
    padding: 7px;
    right: 2%;
    background-color: $scrollButton-bg-color;
    box-shadow: inset 0 0 0.3em $button-box-shadow-main-color;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;

    &.fadeOut {
        animation: fadeOut $animation-time;
    }

    &.show {
        animation: fadeIn $animation-time;
        animation-fill-mode: forwards;
        pointer-events: auto;
    }
}

.scrollIcon {
    font-size: 25px;
    padding: 0 5px;
}

@media (max-width: 1024px) {
    .scrollButton {
        padding: 0;
        right: 3%;
    }
}

@media (max-width: 768px) {
    .scrollButton {
        top: 89%;
    }
}

@media (max-width: 411px) {
    .scrollButton {
        top: 86%;
        right: 6%;
    }
}