@import "../../../styles/settings.scss";
@import "../../../styles/animations.scss";

.project {
  border: $border-width solid $project-border-color;
  border-radius: $border-radius;
  padding: 20px;
  flex: 0 0 28%;
  margin-right: 12px;
  position: relative;
  animation: fadeIn $animationTime;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0;
    left: -0.5px;
    width: 0;
    height: 0;
    border-top: $before-after-triangle-size solid $skillTechList-triangle-color;
    border-right: $before-after-triangle-size solid transparent;
  }

  &::after {
      position: absolute;
      content: '';
      z-index: -1;
      top: 100%;
      right: -0.5px;
      transform: translateY(-100%);
      width: 0;
      height: 0;
      border-bottom: $before-after-triangle-size solid $triangle-color;
      border-left: $before-after-triangle-size solid transparent;
  }

  &:hover {
    .rotate {
      animation: none;
    }

    .image {
      animation: none;
      border-color: transparent;
    }
  }
}

.subtitle {
  margin-top: 0;
  font-family: $font-raleway;
  color: $project-title-color;
  text-shadow: 
    2px 2px 0 $project-subtitle-shadow-color,
    -1px -1px 0 $project-subtitle-shadow-color,  
    1px -1px 0 $project-subtitle-shadow-color,
    -1px 1px 0 $project-subtitle-shadow-color,
    1px 1px 0 $project-subtitle-shadow-color;
}

.buttons {
  a {
    display: block;
    width: 40%;
    margin: 15px auto;
  }
}

.image {
  position: relative;
  margin: 0 auto;
  width: $image-width;
  height: $image-height;
  border-radius: 50%;
  border: 2px solid $project-image-border-color;
  animation: pulse $animation-time infinite ease-in-out;
  transition: $transition;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $project-image-bg-color;
  }

  &.animationDisable {
    animation: none;
    border-color: transparent;
  }
}

.rotate {
  margin: 0;
  animation: translateUpDown $animation-time infinite ease-in-out;

  .rotateIcon {
    font-size: $rotateIcon-font-size;
    color: $project-rotate-icon-color;
    transition: $transition;
    animation: rotate $animationTime;
    animation-fill-mode: forwards;

    &:hover {
      cursor: pointer;
      color: $project-rotate-icon-hover-color;
    }

    &.active {
      animation: rotateBackwards $animationTime;
      animation-fill-mode: forwards;
    }
  }

  &.animationDisable {
    animation: none;
  }
}

.description {
  transform: scaleY(0);
  transform-origin: top;
  max-height: 0;
  transition: $transition-short;

  p {
    margin-top: 0;
  }

  &.active {
    transform: scaleY(1);
    max-height: $description-max-height;
  }
}

.linkIcon {
  margin-right: 7px;
}

.skillTech {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 35px 0;
  text-align: justify;

  p {
    margin: 15px 0;
  }

  svg {
    margin-right: 15px;
  }
}

@media (max-width: 1025px) {
  .project {
    flex: 100%;
    margin: 0 12px 25px 12px;

    &:last-child {
      margin-right: 12px;
    }
  }
}

@media (max-width: 280px) {
  .skillTech {
    justify-content: space-between;
  }
}
