@import "../../../styles/settings.scss";
@import "../../../styles/animations.scss";

.project {
  border: $border-width solid $project-border-color;
  border-radius: $border-radius;
  padding: 20px;
  flex: 28%;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.subtitle {
  margin-top: 0;
  font-family: $font-anton;
  color: $project-title-color;
}

.buttons {
  a {
    display: block;
    width: 40%;
    margin: 15px auto;
  }
}

.image {
  object-fit: contain;
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  background-color: $project-image-bg-color;
}

.rotate {
  margin: 0;

  .rotateIcon {
    font-size: $rotateIcon-font-size;
    color: $project-rotate-icon-color;
    transition: $transition;
    animation: rotate $animationTime;
    animation-fill-mode: forwards;

    &:hover {
      cursor: pointer;
      color: $project-rotate-icon-hover-color;
    }

    &.active {
      animation: rotateBackwards $animationTime;
      animation-fill-mode: forwards;
    }
  }
}

.description {
  transform: scaleY(0);
  transform-origin: top;
  max-height: 0;
  transition: $transition-short;

  p {
    margin-top: 0;
  }

  &.active {
    transform: scaleY(1);
    max-height: $description-max-height;
  }
}

.linkIcon {
  margin-right: 7px;
}
